version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: talk_space
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - appnet

  backend:
    build:
      context: ./   # IMPORTANT: inside talk_space folder
      dockerfile: Dockerfile
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/talk_space
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
    ports:
      - "8080:8080"
    networks:
      - appnet

  frontend:
    build:
      context: ../talk_space_ui
      dockerfile: Dockerfile
    ports:
      - "3000:80" # host 3000 -> container 80
    depends_on:
      - backend
    restart: always
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  db_data: